<%= link_to 'Back' , categories_path, class:'btn btn-light' %>
<h1>Categories</h1>
<%= link_to 'New Sub-Categories' , new_sub_category_path(:category_id=> @category.id), class:'btn btn-secondary' %>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Category ID</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>

        <tbody>
            <% @sub_categories.each do |sub_category| %>
                <tr>
                    <td>
                        <%= sub_category.name %>
                    </td>
                    <td>
                        <%= sub_category.category.name  %>
                    </td>
                    <td>
                        <%= sub_category.category_id %>
                    </td>
                    <td class="d-flex gap-1">
                        <%= link_to 'Edit' , edit_sub_category_path(sub_category),class:'btn-sm btn btn-primary' %>
                        <%= button_to 'Destroy' , sub_category_path(sub_category.id, :category_id=> @category.id),method: :delete, data: {turbo_confirm: "Are you sure you want to delete?" }, class:'btn-sm btn btn-danger' %>
                    </td>
                </tr>
                <% end %>
        </tbody>
    </table>

    <br>