<h1 class="mt-5">New Sub-Category</h1>
<i><b><%= @category.name %> </b>Category</i>
<div class="col-md-6">
    <%= form_with model: @sub_category, url: {:action=> 'create', :category_id => @category.id}, method: :post, local: true do |f| %>

        <%= render(:partial=>'form' , :locals=>{:f => f}) %>


            <div class="form-group mb-3">
                <%= submit_tag 'Create' , class:'btn btn-primary' %>
            </div>
            <% end %>
</div>
<%= link_to 'Back' , :back %>