<!DOCTYPE html>
<html>
  <head>
    <title>E-Com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>

  </head>
  <body>


    <%= render(:partial => 'layouts/navbar') %>
    <div class="container">

          <% if !flash[:success].blank? %>
            <div class="alert alert-success">
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              <%= flash[:success] %>
            </div>
            <% end %>
              <% if !flash[:error].blank? %>
                <div class="alert alert-warning">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  <%= flash[:error] %>
                </div>
                <% end %>
          
                  <p class="notice">
                    <%= notice %>
                  </p>
                  <p class="alert">
                    <%= alert %>
                  </p>
                  
      <%= yield %>
    </div>
  </body>
</html>
